@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600;700&display=swap');
@import "tailwindcss";
@import "./client-manager/animations.css";
@import "./client-manager/colors.css";

:root {
  /* --background: #ffffff; */
  --background: #FBF0DA75;
  --bg-background: var(--background);
  --foreground: #271F18;
  --font-serif: 'Source Serif 4', serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
